    <div class="row bd">
        <div class="col-xs-3 col-sm-3 col-md-3 hleft">
            <%= render 'listed/left_panel' %>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 member">
                <header class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10">
                    <h3>Home</h3>
                    </div>
                    
                </header>

                <div class="row dframe text-center home">   
                    <%= image_tag "s.gif",class:"img-circle",size:"100x100" %><br><br><br>
                    <h1>Have a great day at work!</h1><br>
                    <p>
                    Slack brings all your team communication into one place,
                    makes it all instantly searcable
                    and available wherever you go.
                    </p>
                    <p>
                    Our aim is to make your working life simpler,
                    more pleasant and more productive.
                    </p>
                </div>
                
                
        </div>
    </div>


