<div class="container wframe">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-4">
            <%= link_to "WorkSpace Create", newworkspace_path, class: "btn btn-lg btn-primary btnW" %>
        </div>
    </div> 

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-4">
            <%= link_to "Search Your WorkSpace", searchworkspace_path, class: "btn btn-lg btn-primary btnW" %>
        </div>
    </div> 
</div>


